.button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  background-color: $primary;
  color: white;
  outline: 0;
  border: 0;
  border-radius: 8px;
  width: 100%;
  padding: 12px;
  font-weight: 500;
  font-size: 13px;
  line-height: 13px;
  cursor: pointer;
  transition-property: background-color;
  transition-duration: $default-duration;

  &:hover {
    background-color: $primary-hover;
  }
}
