.send-button {
  display: inline-flex;
  width: 28px;
  height: 28px;
  border-radius: 50%;
  background-color: $primary;
  background-position: 50% 55%;
  background-repeat: no-repeat;
  background-image: url(../../public/images/icons/arrow-left.svg);
  background-size: 60% auto;
  transform: rotate(180deg);
}
