.chat-aside {
  flex-basis: 310px;
  flex-grow: 0;
  flex-shrink: 0;
  background-color: $gray-light;
  border-right: 1px solid #EAEAEA;

  &__top {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    height: 100px;
    border-bottom: 1px solid #EAEAEA;
    padding-top: 20px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 15px;

    a {
      display: inline-flex;
      padding-right: 15px;
      background-repeat: no-repeat;
      background-image: url(../../public/images/icons/shevron-right.svg);
      background-position: right center;
      margin-bottom: 22px;
      color: #999;
    }

    // search field
    .chat-search-wrapper {
      width: 100%;
      font-size: 12px;
      position: relative;

      input[type="text"] {
        width: 100%;
        display: flex;
        height: 32px;
        background-color: #EFEFEF;
        border-radius: 5px;
        border: none;
        outline: none;
        padding-left: 10px;
        padding-right: 10px;
        color: $text-black;

        &:focus {
          & + label { display: none; }
        }
      }

      label {
        display: inline-flex;
        align-items: center;
        justify-content: center;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        position: absolute;

        span {
          position: relative;
          color: #999;

          &::before {
            content: "";
            position: absolute;
            left: -22px;
            top: 50%;
            margin-top: -10px;
            width: 20px;
            height: 20px;
            background-repeat: no-repeat;
            background-size: cover;
            background-image: url(../../public/images/icons/search.svg);
          }
        }
      }
    }
  }

  // chats list
  &__list {
    list-style: none;
    margin: 0;
    padding-left: 0;
    overflow-y: auto;
    height: calc(100vh - 100px);
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */

    /* Hide scrollbar for Chrome, Safari and Opera */
    &::-webkit-scrollbar { display: none; }

    & > li {
      display: flex;
      padding: 10px;
      cursor: pointer;
      transition-property: background-color;
      transition-duration: $default-duration;
      border-bottom: 1px solid #EAEAEA;

      &:hover {
        background-color: $selected;
      }

      .left {
        flex-basis: 47px;
        flex-shrink: 0;
        flex-grow: 0;
        margin-right: 10px;
      }

      .center {
        display: flex;
        flex-direction: column;
        flex-grow: 1;

        b {
          font-weight: 600;
          font-size: 13px;
        }

        span {
          font-weight: 500;
          font-size: 12px;
          line-height: 15px;
          color: #999;
        }
      }

      .right {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        flex-basis: 25px;
        flex-shrink: 0;
        flex-grow: 0;

        .time {
          font-weight: 500;
          font-size: 9px;
          line-height: 13px;
          color: #999;
          margin-bottom: 14px;
        }

        .count {
          display: inline-flex;
          align-items: center;
          justify-content: center;
          width: 20px;
          height: 20px;
          background-color: $primary;
          border-radius: 50%;
          font-weight: 500;
          font-size: 11px;
          line-height: 12px;
          color: white;
        }
      }

      .avatar {
        width: 47px;
        height: 47px;
        background-color: #EFEFEF;
        border-radius: 50%;
      }
    }
  }
}
