<%- include('../../components/page-wrapper/page-wrapper-start', { title: 'User settings | Web-messanger' }) -%>

<section>
  <div class="container">
    <h2>User settings</h2>
  </div>
</section>

<%- include('../../components/page-wrapper/page-wrapper-end') -%>
