.change-password {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-grow: 1;
  background-color: white;

  .container {
    width: 540px;

    @include mobile {
      padding-top: 70px;
      width: 100%;
    }
  }

  &__top {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 50px;
  }

  &__avatar {
    width: 130px;
    height: 130px;
    border-radius: 50%;
    background-color: $gray-normal;
    margin-bottom: 20px;
    background-image: url(../../public/images/avatar-template.svg);
    background-repeat: no-repeat;
    background-position: center;
  }

  &__user-name {
    font-weight: 600;
    font-size: 16px;
  }

  &__form {
    position: relative;
    z-index: 1;
    display: flex;
    flex-direction: column;
    width: 100%;
    flex-grow: 1;

    &.sending {
      .form-loader { display: flex; }
    }

    .form-controls {
      margin-top: auto;
      display: flex;
      flex-direction: column;
      align-items: center;

      button { margin-top: 100px; }
    }
  }
}
