<aside class="chat-aside">
  <div class="chat-aside__top">
    <!-- Профиль -->
    <a href="user-settings.ejs">Профиль</a>

    <!-- Поиск -->
    <%- include('./chat-search-field') -%>
  </div>

  <!-- chat-list -->
  <ul class="chat-aside__list">
    <li>
      <div class="left">
        <div class="avatar"></div>
      </div>
      <div class="center">
        <b>Андрей</b>
        <span>Изображение</span>
      </div>
      <div class="right">
        <div class="time">10:49</div>
        <div class="count">2</div>
      </div>
    </li>

    <li>
      <div class="left">
        <div class="avatar"></div>
      </div>
      <div class="center">
        <b>Андрей</b>
        <span>Изображение</span>
      </div>
      <div class="right">
        <div class="time">10:49</div>
        <div class="count">2</div>
      </div>
    </li>

    <li>
      <div class="left">
        <div class="avatar"></div>
      </div>
      <div class="center">
        <b>Андрей</b>
        <span>Изображение</span>
      </div>
      <div class="right">
        <div class="time">10:49</div>
        <div class="count">2</div>
      </div>
    </li>

    <li>
      <div class="left">
        <div class="avatar"></div>
      </div>
      <div class="center">
        <b>Андрей</b>
        <span>Изображение</span>
      </div>
      <div class="right">
        <div class="time">10:49</div>
        <div class="count">2</div>
      </div>
    </li>

    <li>
      <div class="left">
        <div class="avatar"></div>
      </div>
      <div class="center">
        <b>Андрей</b>
        <span>Изображение</span>
      </div>
      <div class="right">
        <div class="time">10:49</div>
        <div class="count">2</div>
      </div>
    </li>

    <li>
      <div class="left">
        <div class="avatar"></div>
      </div>
      <div class="center">
        <b>Андрей</b>
        <span>Изображение</span>
      </div>
      <div class="right">
        <div class="time">10:49</div>
        <div class="count">2</div>
      </div>
    </li>

    <li>
      <div class="left">
        <div class="avatar"></div>
      </div>
      <div class="center">
        <b>Андрей</b>
        <span>Изображение</span>
      </div>
      <div class="right">
        <div class="time">10:49</div>
        <div class="count">2</div>
      </div>
    </li>

    <li>
      <div class="left">
        <div class="avatar"></div>
      </div>
      <div class="center">
        <b>Андрей</b>
        <span>Изображение</span>
      </div>
      <div class="right">
        <div class="time">10:49</div>
        <div class="count">2</div>
      </div>
    </li>

    <li>
      <div class="left">
        <div class="avatar"></div>
      </div>
      <div class="center">
        <b>Андрей</b>
        <span>Изображение</span>
      </div>
      <div class="right">
        <div class="time">10:49</div>
        <div class="count">2</div>
      </div>
    </li>

    <li>
      <div class="left">
        <div class="avatar"></div>
      </div>
      <div class="center">
        <b>Андрей</b>
        <span>Изображение</span>
      </div>
      <div class="right">
        <div class="time">10:49</div>
        <div class="count">2</div>
      </div>
    </li>

    <li>
      <div class="left">
        <div class="avatar"></div>
      </div>
      <div class="center">
        <b>Андрей</b>
        <span>Изображение</span>
      </div>
      <div class="right">
        <div class="time">10:49</div>
        <div class="count">2</div>
      </div>
    </li>

    <li>
      <div class="left">
        <div class="avatar"></div>
      </div>
      <div class="center">
        <b>Андрей</b>
        <span>Изображение</span>
      </div>
      <div class="right">
        <div class="time">10:49</div>
        <div class="count">2</div>
      </div>
    </li>

    <li>
      <div class="left">
        <div class="avatar"></div>
      </div>
      <div class="center">
        <b>Андрей</b>
        <span>Изображение</span>
      </div>
      <div class="right">
        <div class="time">10:49</div>
        <div class="count">2</div>
      </div>
    </li>

    <li>
      <div class="left">
        <div class="avatar"></div>
      </div>
      <div class="center">
        <b>Андрей</b>
        <span>Изображение</span>
      </div>
      <div class="right">
        <div class="time">10:49</div>
        <div class="count">2</div>
      </div>
    </li>

    <li>
      <div class="left">
        <div class="avatar"></div>
      </div>
      <div class="center">
        <b>Андрей</b>
        <span>Изображение</span>
      </div>
      <div class="right">
        <div class="time">10:49</div>
        <div class="count">2</div>
      </div>
    </li>

    <li>
      <div class="left">
        <div class="avatar"></div>
      </div>
      <div class="center">
        <b>Андрей</b>
        <span>Изображение</span>
      </div>
      <div class="right">
        <div class="time">10:49</div>
        <div class="count">2</div>
      </div>
    </li>
  </ul>
</aside>
