<footer class="chat-footer">
  <!-- file upload -->
  <div>
    <label for="upload-file"></label>
    <input type="file" name="upload-file" id="upload-file" />
  </div>

  <!-- enter message -->
  <div class="input-wrapper">
    <input type="text" name="enter-message" id="enter-message" placeholder="Сообщение" />
  </div>

  <!-- send button -->
  <%- include('./send-button') -%>
</footer>
