<%- include('../../components/page-wrapper/page-wrapper-start', { title: 'Registration | Web-messanger' }) -%>

<section>
  <div class="container">
    <h2>Registration</h2>
  </div>
</section>

<%- include('../../components/page-wrapper/page-wrapper-end') -%>
