<aside class="chat-aside">
  <div class="chat-aside__top">
    <!-- Профиль -->
    <a href="user-settings.ejs">Профиль</a>

    <!-- Поиск -->
    <div class="chat-search-wrapper">
      <input type="text" name="chat-search" id="chat-search" />
      <label for="chat-search">
        <span>Поиск</span>
      </label>
    </div>
  </div>

  <!-- chat-list -->
  <ul class="chat-aside__list">
    <li>
      <div class="left">
        <div class="avatar"></div>
      </div>
      <div class="center">
        <b>Андрей</b>
        <span>Изображение</span>
      </div>
      <div class="right">
        <div class="time">10:49</div>
        <div class="count">2</div>
      </div>
    </li>

    <li>
      <div class="left">
        <div class="avatar"></div>
      </div>
      <div class="center">
        <b>Андрей</b>
        <span>Изображение</span>
      </div>
      <div class="right">
        <div class="time">10:49</div>
        <div class="count">2</div>
      </div>
    </li>

    <li>
      <div class="left">
        <div class="avatar"></div>
      </div>
      <div class="center">
        <b>Андрей</b>
        <span>Изображение</span>
      </div>
      <div class="right">
        <div class="time">10:49</div>
        <div class="count">2</div>
      </div>
    </li>

    <li>
      <div class="left">
        <div class="avatar"></div>
      </div>
      <div class="center">
        <b>Андрей</b>
        <span>Изображение</span>
      </div>
      <div class="right">
        <div class="time">10:49</div>
        <div class="count">2</div>
      </div>
    </li>

    <li>
      <div class="left">
        <div class="avatar"></div>
      </div>
      <div class="center">
        <b>Андрей</b>
        <span>Изображение</span>
      </div>
      <div class="right">
        <div class="time">10:49</div>
        <div class="count">2</div>
      </div>
    </li>

    <li>
      <div class="left">
        <div class="avatar"></div>
      </div>
      <div class="center">
        <b>Андрей</b>
        <span>Изображение</span>
      </div>
      <div class="right">
        <div class="time">10:49</div>
        <div class="count">2</div>
      </div>
    </li>

    <li>
      <div class="left">
        <div class="avatar"></div>
      </div>
      <div class="center">
        <b>Андрей</b>
        <span>Изображение</span>
      </div>
      <div class="right">
        <div class="time">10:49</div>
        <div class="count">2</div>
      </div>
    </li>

    <li>
      <div class="left">
        <div class="avatar"></div>
      </div>
      <div class="center">
        <b>Андрей</b>
        <span>Изображение</span>
      </div>
      <div class="right">
        <div class="time">10:49</div>
        <div class="count">2</div>
      </div>
    </li>

    <li>
      <div class="left">
        <div class="avatar"></div>
      </div>
      <div class="center">
        <b>Андрей</b>
        <span>Изображение</span>
      </div>
      <div class="right">
        <div class="time">10:49</div>
        <div class="count">2</div>
      </div>
    </li>

    <li>
      <div class="left">
        <div class="avatar"></div>
      </div>
      <div class="center">
        <b>Андрей</b>
        <span>Изображение</span>
      </div>
      <div class="right">
        <div class="time">10:49</div>
        <div class="count">2</div>
      </div>
    </li>

    <li>
      <div class="left">
        <div class="avatar"></div>
      </div>
      <div class="center">
        <b>Андрей</b>
        <span>Изображение</span>
      </div>
      <div class="right">
        <div class="time">10:49</div>
        <div class="count">2</div>
      </div>
    </li>

    <li>
      <div class="left">
        <div class="avatar"></div>
      </div>
      <div class="center">
        <b>Андрей</b>
        <span>Изображение</span>
      </div>
      <div class="right">
        <div class="time">10:49</div>
        <div class="count">2</div>
      </div>
    </li>

    <li>
      <div class="left">
        <div class="avatar"></div>
      </div>
      <div class="center">
        <b>Андрей</b>
        <span>Изображение</span>
      </div>
      <div class="right">
        <div class="time">10:49</div>
        <div class="count">2</div>
      </div>
    </li>

    <li>
      <div class="left">
        <div class="avatar"></div>
      </div>
      <div class="center">
        <b>Андрей</b>
        <span>Изображение</span>
      </div>
      <div class="right">
        <div class="time">10:49</div>
        <div class="count">2</div>
      </div>
    </li>

    <li>
      <div class="left">
        <div class="avatar"></div>
      </div>
      <div class="center">
        <b>Андрей</b>
        <span>Изображение</span>
      </div>
      <div class="right">
        <div class="time">10:49</div>
        <div class="count">2</div>
      </div>
    </li>

    <li>
      <div class="left">
        <div class="avatar"></div>
      </div>
      <div class="center">
        <b>Андрей</b>
        <span>Изображение</span>
      </div>
      <div class="right">
        <div class="time">10:49</div>
        <div class="count">2</div>
      </div>
    </li>
  </ul>
</aside>
