<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Web messanger</title>

  <!-- favicons -->
  <link rel="apple-touch-icon" sizes="180x180" href="../../../public/images/favicons/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="../../../public/images/favicons/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="../../../public/images/favicons/favicon-16x16.png">
  <link rel="manifest" href="../../../public/images/favicons/site.webmanifest">
  <link rel="mask-icon" href="../../../public/images/favicons/safari-pinned-tab.svg" color="#5bbad5">
  <meta name="msapplication-TileColor" content="#da532c">
  <meta name="theme-color" content="#ffffff">

  <!-- google fonts -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Inter:wght@500;600&display=swap">
  <link rel="stylesheet" href="../../scss/style.scss" />
</head>
<body>
  <div class="app-wrapper">
    <!-- page header -->
    <header>
      <div class="container">HEADER</div>
    </header>

    <!-- main content -->
    <main>
      <div class="container">
        <h1>Test index page</h1>
        <ul class="todo-list">
          <li>EJS templates ---</li>
          <li>Template avatars ---</li>
          <li>***</li>
          <li>Design templates +++</li>
          <li>Readme.md +++</li>
          <li>Fonts +++</li>
          <li>Netlify +++</li>
          <li>GitHub +++</li>
          <li>EJS +++</li>
          <li>SCSS +++</li>
          <li>Express +++</li>
        </ul>
      </div>
    </main>

    <!-- page footer -->
    <footer>
      <div class="container">FOOTER</div>
    </footer>
  </div>
</body>
</html>
