<%- include('./components/page-wrapper-start', { title: '500 | Web-messanger' }) -%>

<section class="500">
  <div class="container">
    <h2>500</h2>
  </div>
</section>

<%- include('./components/page-wrapper-end') -%>
