<%- include('./components/page-wrapper-start', { title: 'Edit user | Web-messanger' }) -%>

<%- include('./components/go-back-button', { link: 'user-settings.ejs' }) -%>

<main>
  <section class="user-settings">
    <div class="container">
      <h2>Edit user</h2>
    </div>
  </section>
</main>

<%- include('./components/page-wrapper-end') -%>
