<%- include('./components/page-wrapper-start', { title: 'Chat | Web-messanger' }) -%>

<div class="chat">
  <aside>
    <header>
      <!-- Профиль -->
      <a href="user-settings.ejs">Профиль</a>

      <!-- Поиск -->
      <div class="input-wrapper">
        <input type="text" name="search-chat" id="search-chat">
        <label for="search-chat">
          <span>Поиск</span>
        </label>
      </div>
    </header>

    <!-- chat-list -->
    <ul>
      <li>
        <div class="left">
          <div class="avatar"></div>
        </div>
        <div class="center">
          <b>Андрей</b>
          <span>Изображение</span>
        </div>
        <div class="right">
          <div class="time">10:49</div>
          <div class="count">2</div>
        </div>
      </li>

      <li>
        <div class="left">
          <div class="avatar"></div>
        </div>
        <div class="center">
          <b>Андрей</b>
          <span>Изображение</span>
        </div>
        <div class="right">
          <div class="time">10:49</div>
          <div class="count">2</div>
        </div>
      </li>

      <li>
        <div class="left">
          <div class="avatar"></div>
        </div>
        <div class="center">
          <b>Андрей</b>
          <span>Изображение</span>
        </div>
        <div class="right">
          <div class="time">10:49</div>
          <div class="count">2</div>
        </div>
      </li>

      <li>
        <div class="left">
          <div class="avatar"></div>
        </div>
        <div class="center">
          <b>Андрей</b>
          <span>Изображение</span>
        </div>
        <div class="right">
          <div class="time">10:49</div>
          <div class="count">2</div>
        </div>
      </li>

      <li>
        <div class="left">
          <div class="avatar"></div>
        </div>
        <div class="center">
          <b>Андрей</b>
          <span>Изображение</span>
        </div>
        <div class="right">
          <div class="time">10:49</div>
          <div class="count">2</div>
        </div>
      </li>

      <li>
        <div class="left">
          <div class="avatar"></div>
        </div>
        <div class="center">
          <b>Андрей</b>
          <span>Изображение</span>
        </div>
        <div class="right">
          <div class="time">10:49</div>
          <div class="count">2</div>
        </div>
      </li>

      <li>
        <div class="left">
          <div class="avatar"></div>
        </div>
        <div class="center">
          <b>Андрей</b>
          <span>Изображение</span>
        </div>
        <div class="right">
          <div class="time">10:49</div>
          <div class="count">2</div>
        </div>
      </li>

      <li>
        <div class="left">
          <div class="avatar"></div>
        </div>
        <div class="center">
          <b>Андрей</b>
          <span>Изображение</span>
        </div>
        <div class="right">
          <div class="time">10:49</div>
          <div class="count">2</div>
        </div>
      </li>

      <li>
        <div class="left">
          <div class="avatar"></div>
        </div>
        <div class="center">
          <b>Андрей</b>
          <span>Изображение</span>
        </div>
        <div class="right">
          <div class="time">10:49</div>
          <div class="count">2</div>
        </div>
      </li>

      <li>
        <div class="left">
          <div class="avatar"></div>
        </div>
        <div class="center">
          <b>Андрей</b>
          <span>Изображение</span>
        </div>
        <div class="right">
          <div class="time">10:49</div>
          <div class="count">2</div>
        </div>
      </li>

      <li>
        <div class="left">
          <div class="avatar"></div>
        </div>
        <div class="center">
          <b>Андрей</b>
          <span>Изображение</span>
        </div>
        <div class="right">
          <div class="time">10:49</div>
          <div class="count">2</div>
        </div>
      </li>

      <li>
        <div class="left">
          <div class="avatar"></div>
        </div>
        <div class="center">
          <b>Андрей</b>
          <span>Изображение</span>
        </div>
        <div class="right">
          <div class="time">10:49</div>
          <div class="count">2</div>
        </div>
      </li>

      <li>
        <div class="left">
          <div class="avatar"></div>
        </div>
        <div class="center">
          <b>Андрей</b>
          <span>Изображение</span>
        </div>
        <div class="right">
          <div class="time">10:49</div>
          <div class="count">2</div>
        </div>
      </li>

      <li>
        <div class="left">
          <div class="avatar"></div>
        </div>
        <div class="center">
          <b>Андрей</b>
          <span>Изображение</span>
        </div>
        <div class="right">
          <div class="time">10:49</div>
          <div class="count">2</div>
        </div>
      </li>

      <li>
        <div class="left">
          <div class="avatar"></div>
        </div>
        <div class="center">
          <b>Андрей</b>
          <span>Изображение</span>
        </div>
        <div class="right">
          <div class="time">10:49</div>
          <div class="count">2</div>
        </div>
      </li>

      <li>
        <div class="left">
          <div class="avatar"></div>
        </div>
        <div class="center">
          <b>Андрей</b>
          <span>Изображение</span>
        </div>
        <div class="right">
          <div class="time">10:49</div>
          <div class="count">2</div>
        </div>
      </li>
    </ul>
  </aside>

  <main>
    <header>
      <!-- avatar -->
      <a href="user-settings.ejs">
        <div class="avatar">
          <div
            class="avatar__image"
            style="background-image:url(https://images.unsplash.com/photo-1529068755536-a5ade0dcb4e8?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=881&q=80)"
          >
          </div>
          <div class="avatar__name">Иван</div>
        </div>
      </a>

      <!-- controls -->
      <div class="controls">
        <div class="controls__menu">
          <div></div>
          <div></div>
          <div></div>
        </div>
      </div>
    </header>

    <div class="content"></div>

    <footer>FOOTER</footer>
  </main>
</div>

<%- include('./components/page-wrapper-end') -%>
