<%- include('./components/page-wrapper-start', { title: 'Chat | Web-messanger' }) -%>

<section class="chat">
  <div class="container">
    <h2>Chat</h2>
    <ul>
      <li>Multiply pages building +++</li>
      <li>Pages design</li>
      <li>Script connect</li>
      <li>
        <a href="404.ejs">404</a>
      </li>
      <li>
        <a href="500.ejs">500</a>
      </li>
    </ul>
  </div>
</section>

<%- include('./components/page-wrapper-end') -%>
