<%- include('./components/page-wrapper-start', { title: 'Chat | Web-messanger' }) -%>

<main>
  <section class="chat">
    <div class="container">
      <h2>Chat</h2>
      <ul>
        <li>404 +++</li>
        <li>500 +++</li>
        <li>Login+++</li>
        <li>Registration +++</li>
        <li>User settings ---</li>
        <li>Chat ---</li>
        <li>---------------</li>
        <li>Scripts connect +++</li>
        <li>Adaptivity +++</li>
        <li>Badges ---</li>
        <li>EJS forEach ---</li>
        <li>Ссылку на открытый PR в Readme (ветка main) ---</li>
      </ul>

      <h2>Страницы</h2>
      <ul>
        <li><a href="404.ejs">404</a></li>
        <li><a href="500.ejs">500</a></li>
        <li><a href="authorization.ejs">authorization</a></li>
        <li><a href="registration.ejs">registration</a></li>
        <li><a href="user-settings.ejs">user-settings</a></li>
        <li><a href="user-settings-edit.ejs">user-settings-edit</a></li>
        <li><a href="user-settings-change-password.ejs">user-settings-change-password</a></li>
      </ul>
    </div>
  </section>
</main>

<%- include('./components/page-wrapper-end') -%>
