<%- include('./components/page-wrapper-start', { title: 'User settings | Web-messanger' }) -%>

<%- include('./components/go-back-button', { link: '/' }) -%>

<main>
  <section class="user-settings">
    <div class="container">
      <div class="user-settings__top">
        <div class="user-settings__avatar"></div>
        <div class="user-settings__user-name">Иван</div>
      </div>

      <div class="user-settings__middle">
        <ul class="user-settings__data-list">
          <li>
            <b>Почта</b>
            <span>pochta@yandex.ru</span>
          </li>
          <li>
            <b>Логин</b>
            <span>ivanivanov</span>
          </li>
          <li>
            <b>Имя</b>
            <span>Иван</span>
          </li>
          <li>
            <b>Фамилия</b>
            <span>Иванов</span>
          </li>
          <li>
            <b>Имя в чате</b>
            <span>Иван</span>
          </li>
          <li>
            <b>Телефон</b>
            <span>+7 (909) 967 30 30</span>
          </li>
        </ul>
      </div>

      <div class="user-settings__bottom">
        <ul class="user-settings__controls-list">
          <li><a href="user-settings-edit.ejs" class="text-primary">Изменить данные</a></li>
          <li><a href="user-settings-change-password.ejs" class="text-primary">Изменить пароль</a></li>
          <li><a href="authorization.ejs" class="text-error">Выйти</a></li>
        </ul>
      </div>
    </div>
  </section>
</main>

<%- include('./components/page-wrapper-end') -%>
