<%- include('./components/page-wrapper-start', { title: 'User settings | Web-messanger' }) -%>

<section class="user-settings">
  <div class="container">
    <h2>User settings</h2>
  </div>
</section>

<%- include('./components/page-wrapper-end') -%>
