<%- include('./components/page-wrapper-start', { title: 'User settings | Web-messanger' }) -%>

<main>
  <section class="user-settings">
    <div class="container">
      <h2>User settings</h2>
    </div>
  </section>
</main>

<%- include('./components/page-wrapper-end') -%>
