$base-font: 'Inter', sans-serif;

// statuses
$primary: #3369F3;
$danger: #FF2F2F;

// text
$text-black: #1E1E1E;
$text-gray: #999;

// backgrounds
$gray-light: #FBFBFB;
$gray-normal: #EFEFEF;
$gray-dark: rgba(0,0,0, 0.5);
$selected: #E4EDFD;
