<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>

  <!-- google fonts -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,700;1,400;1,700&display=swap"
    rel="stylesheet">
  <link rel="stylesheet" href="style.scss" />
</head>
<body>
  <div class="app-wrapper">
    <!-- page header -->
    <header>
      <div class="container">HEADER</div>
    </header>

    <!-- main content -->
    <main>
      <div class="container">
        <h1>Test index page</h1>
        <ul class="todo-list">
          <li>Design templates ---</li>
          <li>EJS templates ---</li>
          <li>Template avatars ---</li>
          <li>***</li>
          <li>Readme.md +++</li>
          <li>Fonts +++</li>
          <li>Netlify +++</li>
          <li>GitHub +++</li>
          <li>EJS +++</li>
          <li>SCSS +++</li>
          <li>Express +++</li>
        </ul>
      </div>
    </main>

    <!-- page footer -->
    <footer>
      <div class="container">FOOTER</div>
    </footer>
  </div>
</body>
</html>
