// custom
@import "scss/vars";
@import "scss/mixins";
@import "scss/reset";

// components
@import "components/ErrorContainer/ErrorContainer";
@import "scss/components/chat/chat-aside";
@import "scss/components/chat/chat-day-content";
@import "scss/components/chat/chat-footer";
@import "scss/components/chat/chat-header";
@import "scss/components/chat/chat-item";
@import "components/Button/Button";
@import "components/FormInput/FormInput.scss";
@import "components/FormLoader/FormLoader";
@import "scss/components/go-back-button";
@import "scss/components/send-button";
@import "components/UserAvatar/UserAvatar";

// routes
@import "routes/Authorization/Authorization";
@import "routes/Registration/Registration";
@import "routes/UserSettings/UserSettings";
@import "scss/routes/edit-user";
@import "scss/routes/change-password";
@import "scss/routes/chat";

// common styles
body {
  background-color: $gray-light;
  font-family: $base-font;
  color: $text-black;

  // root-container
  & > div#root {
    height: 100%;
  }
}

main {
  display: flex;
  flex-direction: column;
  height: 100%;
}

h2 {
  font-size: $title-size;
  font-weight: 500;
}

a {
  text-decoration: none;
  font-weight: 500;
  font-size: 11px;
  @include status-text-color($primary);
}

.container {
  padding: 0 15px;
  margin: 0 auto;
}

// text statuses
.text-primary {
  @include status-text-color($primary);
}
.text-success {
  @include status-text-color($success);
}
.text-warning {
  @include status-text-color($warning);
}
.text-error {
  @include status-text-color($error);
}

// bg statuses
.bg-primary {
  @include status-bg-color($primary);
}
.bg-success {
  @include status-bg-color($success);
}
.bg-warning {
  @include status-bg-color($warning);
}
.bg-error {
  @include status-bg-color($error);
}
