@import "custom/vars";
@import "custom/reset";

// components
@import "components/page-wrapper";
@import "components/loader";
@import "components/button";

// pages
@import "pages/404";
@import "pages/500";
@import "pages/authorization";
@import "pages/chat";
@import "pages/registration";
@import "pages/user-settings";

// common styles
body {
  background: $gray-light;
  color: $text-black;
  font-family: $base-font;
}

main {
  display: flex;
  flex-direction: column;
  height: 100%;
}

h2 {
  font-size: $title-size;
  font-weight: 500;
}

a {
  text-decoration: none;
  color: $primary;
  font-weight: 500;
  font-size: 11px;
  transition: color $default-duration;
  &:hover {
    color: $primary-hover;
  }
}

.container {
  padding: 0 15px;
  margin: 0 auto;
}

// text statuses
.primary { color: $primary; }
.success { color: $success }
.warning { color: $warning }
.error { color: $error; }
