@import "custom/vars";
@import "custom/reset";

// components
@import "components/button";
@import "components/page-wrapper";

// pages
@import "pages/404";
@import "pages/500";
@import "pages/authorization";
@import "pages/chat";
@import "pages/registration";
@import "pages/user-settings";

// common styles
body {
  background: $gray-light;
  color: $text-black;
  font-family: $base-font;
}

.app-wrapper {
  display: flex;
  flex-direction: column;
  height: 100%;
}

main {
  flex-grow: 1;
}

h2 {
  font-size: $title-size;
  margin-top: 0;
}

.container {
  padding: 0 15px;
  margin: 0 auto;
}
