<%- include('./components/page-wrapper-start', { title: '404 | Web-messanger' }) -%>

<main>
  <section class="error-page">
    <div class="container">
      <h2>404</h2>
      <p>Не туда попали</p>
      <a href="/">Назад к чатам</a>
    </div>
  </section>
</main>

<%- include('./components/page-wrapper-end') -%>
