<%- include('./components/page-wrapper-start', { title: '500 | Web-messanger' }) -%>

<main>
  <section class="error-page">
    <div class="container">
      <h2>500</h2>
      <p>Мы уже фиксим</p>
      <a href="/">Назад к чатам</a>
    </div>
  </section>
</main>

<%- include('./components/page-wrapper-end') -%>
